.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*верхняя панель всегда видна при скроле*/
body{
  min-height: 100vh;
}

/*верхняя панель*/
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app__header {
  flex-grow: 0;
  flex-shrink: 0;
}

.app__content {
  flex-grow: 1;
  overflow: auto;
}

body {
  height: 2000px;
}
